body {
	background-color: #e9eaed;
	max-width: 960px;

	height: 100%;
	color: #000;
	margin: 0 auto;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}



.wrapper {
	background: #fff;
	margin-top: 10px;
	min-height: 500px;
}

