
<section class="clearfix">


	<div class="main-area">

		<img class="pic" src="../images/aamir-shah.jpg" alt="Aamir Shah | Web Developer"/>

		<div class="details">
			<h1>Aamir Shah</h1>
			<h2>Web Developer | JavaScript Enthusiast</h2>

			<p>
				A Computer Science graduate, Aamir is a Full-Stack Web Developer and a JavaScript Enthusiast working at Sourcebits, Bangalore.

				Aamir is extremely passionate for the latest technologies and is always ready to learn new things and do cool stuff.

				Aamir strongly believes in Open Source Projects and is an active member on Stackoverflow, Github etc.
			</p>
		</div>
	</div>

	<div class="twitter-feed">
		<div twitter-box></div>
		


	</div>

</section>